<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Parsons Code Lab</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
			integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/js-parsons/parsons.css" />
		<link rel="stylesheet" href="/js/main.css" />
	</head>
	<body>
		<nav class="navbar">
			<a href="index.html">
				<img src="/ohtuproj_logo.png" alt="Parsons Code Lab Logo" class="navbar-logo">
			</a>
			<div class="ml-auto">
				<a
					class="btn btn-outline-dark btn-sm mr-3"
					id="exercises-btn"
					href="/exerciselist"
					style="display: none"
					>Exercises</a
				>
				<a
					class="btn btn-outline-dark btn-sm mr-3"
					id="statics-btn"
					href="/task_list_selector"
					>Statistics</a
				>
				<span class="text-dark mr-3">Welcome, <span id="user-name"></span>!</span>
				<button class="btn btn-outline-dark btn-sm" id="logout-btn">Logout</button>
			</div>
		</nav>
		<div class="container">
			<h1>Exercise List</h1>
			<div id="problems-list">
				<p>Loading exercises…</p>
			</div>
		</div>

		<script type="module" src="/js/exerciselist.js"></script>
	</body>
</html>
