<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Parsons Code Lab</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="/js-parsons/parsons.css"/>
    <link rel="stylesheet" href="/js/main.css"/>
</head>
<body>
	<nav class="navbar">
		<a href="index.html" class="title-logo-link">
			<img src="/ohtuproj_logo.png" alt="Parsons Code Lab Logo" class="navbar-logo">
		</a>
		<div class="ml-auto" id="auth-section">
			<form class="form-inline" id="login-form">
				<div id="error-message" class="text-danger mr-2" style="display: none;"></div>
				<input class="form-control mr-2" type="text" id="username" placeholder="Username" aria-label="Username" required>
				<input class="form-control mr-2" type="password" id="password" placeholder="Password" aria-label="Password" required>
				<button class="btn btn-outline-dark btn-sm mr-2" id="login-btn" type="submit">Login</button>
				<button class="btn btn-outline-dark btn-sm mr-2" id="register-btn" type="button">Register</button>
				<a class="btn btn-outline-dark btn-sm mr-2" id="instructions-btn" href="/instructions">Instructions</a>
			</form>
			<div id="user-info" class="text-dark" style="display: none;">
				<a class="btn btn-outline-dark btn-sm mr-2" id="exercises-btn" href="/exerciselist" style="display: none;">Exercises</a>
				<span class="mr-3"><i class="fas fa-user"></i> <span id="user-name"></span></span>
				<button class="btn btn-outline-dark btn-sm" id="logout-btn">Logout</button>
				<a class="btn btn-outline-dark btn-sm mr-2" id="instructions-btn" href="/instructions">Instructions</a>
			</div>
		</div>
	</nav>
	<div>
		<h2>Here's how to use Parsons Code Lab as a teacher</h2>
		<h3>Registration</h3>
		<p>
			To register your Parsons Code Lab account, please enter your username, email and password. 
			You will also need to enter a registration token. 
		</p>
		<h3>Task List Selector</h3>
		<p>
			After registering and logging in successfully, the teacher will be able to see all available task lists.
			The teacher is able to create a new task list by clicking on "Create New Task List". By clicking on a
			task list the teacher is able to see more information such as the link for students, creation date, 
			added tasks and students. The teacher can also share a task list with other teachers. Added teachers
			will have viewing rights to the task list.
		</p>
		<h3>Creating a task list</h3>
		<p>
			After clicking on "Create New Task List", the teacher is able to enter basic information of their task
			list such as the title, optional descriptions for students and teachers, other teachers' email addresses 
			or usernames to share viewing rights with them as well as an optional expiration date. Most importantly,
			the teacher is able to select tasks they want to add to their task list as well as preview them beforehand.
			After creating a task list the teacher will be redirected to the Task List Selector page. Additional
			information as well as exercise analytics can be found by clicking on a specific task list.
		</p>
		<h3>Sharing a task list with students and receiving task data</h3>
		<p>
			Task lists become available to students via a unique link that can be found on the task list page right 
			below the task list title. 
		</p>
	</div>
	<script type="module">
		import { initLoginPage, initNavbarExercisesButton } from '/js/auth-ui.js';
		initLoginPage();
		initNavbarExercisesButton();
	</script>
</body>
