<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Parsons Code Lab</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		/>
		<link rel="stylesheet" href="/js-parsons/parsons.css" />
		<link rel="stylesheet" href="/js/main.css" />
	</head>
	<body>
		  <nav class="navbar">
    		<img src="/ohtuproj_logo.png" alt="Parsons Code Lab Logo" class="navbar-logo">
			<div class="ml-auto">
				<span class="text-black mr-3"><i class="fas fa-user"></i> <span id="user-name"></span></span>
				<button class="btn btn-outline-dark btn-sm" id="logout-btn">Logout</button>
			</div>
		</nav>
		<div class="container">
			<h1>Problems</h1>
			<div id="problems-list">
				<p>Loading problems…</p>
			</div>
		</div>

		<script type="module" src="/js/problemset.js"></script>
</body>
</html>
