<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Exercise Analytics - Parsons Code Lab</title>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

  <link rel="stylesheet" href="/js/main.css">

</head>

<body>

  <nav class="navbar">
    <img src="/ohtuproj_logo.png" alt="Parsons Code Lab Logo" class="navbar-logo">
    <div class="ml-auto d-flex align-items-center">
      <a id="back-to-list" href="#"
         class="btn btn-outline-dark btn-sm mr-3">
        Back to exercise list
      </a>
      <span class="text-dark">
        <i class="fas fa-user"></i> <span id="user-name"></span>
      </span>
    </div>
  </nav>
  <main class="container main-nickname">
    <div class="p-4">
    <h2 id="task-instructions" class="section-title mb-3">

    </h2>
		<div class="text-center">
			<button id="start-btn" class="btn btn-primary btn-lg">Start</button>
		</div>
	</div>
  </main>

  <script src="/js/student_start_page.js"></script>
</body>
