<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Student nickname</title>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

  <link rel="stylesheet" href="/js/main.css">

</head>

<body class="body">

	<nav class="navbar">
    <img src="/ohtuproj_logo.png" alt="Parsons Code Lab Logo" class="navbar-logo">
		<div class="ml-auto" id="auth-section">
			<form class="form-inline" id="login-form">
				<div id="error-message" class="text-danger mr-2" style="display: none;"></div>
				<input class="form-control mr-2" type="text" id="username" placeholder="Username" aria-label="Username" required>
				<input class="form-control mr-2" type="password" id="password" placeholder="Password" aria-label="Password" required>
				<button class="btn btn-outline-dark btn-sm mr-2" id="login-btn" type="submit">Login</button>
				<button class="btn btn-outline-dark btn-sm mr-2" id="register-btn" type="button">Register</button>
			</form>
			<div id="user-info" class="text-dark" style="display: none;">
				<a class="btn btn-outline-dark btn-sm mr-2" id="exercises-btn" href="/exerciselist" style="display: none;">Exercises</a>
        <span class="mr-3"><i class="fas fa-user"></i> <span id="user-name"></span></span>
				<button class="btn btn-outline-dark btn-sm" id="logout-btn">Logout</button>
			</div>
		</div>
	</nav>

  <div class="container text-center mt-5">
    <h1 class="display-4 font-weight-bold">Welcome to Parsons Code Lab!</h1>
    <h2 class="h5 text-muted">Login to join the exercise packet</h2>
  </div>

  <script src="/js/student_index.js" type="module"></script>

</body>
</html>
